$header_image_url: "./../img/0.jpg";
$header_li_color: #c1d1df;
$header_li_hover_color: #8695a2;

$card__image-first: "./../img/1.jpg";
$card__image-second: "./../img/2.jpg";
$card__image-tree: "./../img/3.jpg";

$main-card-h2: #8695a2;
$main-card-text: #395369;

$main-review-bg: #8d6f79;
$main-review-h2: #cba2b0;
$eview-card-bg: #9d7a86;

$individual-tour-bg: #8695a2;
$individual-tour-h3: #c1d1df;
$individual-tour-border: #5e6872;
$individual-tour-text: #5e6872;
$individual-tour-passanger: #5E6881;

$footer-bg: #3d5585;
$footer-color: #659afe;
$footer-dark-color: #0a275e;
$footer-a: #467ade;