$header_image_url:"./../img/4.jpg";
$header_li_color:#4E2846;
$header_li_hover_color:#dfc1d9;

$card__image-first:"./../img/5.jpeg";
$card__image-second:"./../img/6.jpg";
$card__image-tree:"./../img/7.jpg";


$main-card-h2:#9f86a2;
$main-card-text:#69395e;

$main-review-bg:#8A6F8D;
$main-review-h2:#CAA2CB;
$eview-card-bg:#CAA2CB;

$individual-tour-bg:#9F86A2;
$individual-tour-h3:#4E286D;
$individual-tour-border:#31262C;
$individual-tour-passanger:#312661;

$footer-bg: #5D3D85;
$footer-color: #B965FE;
$footer-dark-color: #4F0A67;
$footer-a: #8A46D2;